.container1{
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}

.item{
  border:1px solid black;
  border-radius:20px;
  width: 800px;
  height:300px
}

.item_img{
  padding:20px;
  float:left;
}

.qty_box{
    border: 2px solid black;
  height:20px;
  width:20px;
  float:left;
}

.stock{
  width:100px;
  height:20px;
  border:1px solid black;
  border-radius: 5px;
  float:right;
  margin-right: 20px;
  text-align:center;
}